USE [master]
GO
/****** Object:  Database [tp4-database]    Script Date: 22/11/2020 20:54:00 ******/
CREATE DATABASE [tp4-database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tp4-database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\tp4-database.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tp4-database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\tp4-database_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tp4-database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tp4-database]
GO
/****** Object:  Table [dbo].[entradas]    Script Date: 22/11/2020 20:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entradas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[sala] [int] NOT NULL,
	[dia] [varchar](50) NOT NULL,
	[butaca] [varchar](4) NOT NULL,
	[precio] [float] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
